---
import Base from "../../../layouts/BaseLayout.astro";
---
<Base lang="de" title="Services – Weib-Coding" description="Verkauf, Vermietung und Verwaltung in Pattaya.">
  <section class="prose">
    <h1>Unsere Services</h1>
    <ul>
      <li>Vermarktung & Verkauf von Immobilien</li>
      <li>Vermietung & Verwaltung</li>
      <li>Standort- & Projektberatung</li>
    </ul>
    <p><a class="underline" href="/de/contact/">Jetzt Beratung anfragen</a></p>
  </section>
</Base>