---
import PropertyCard from "../PropertyCard";
const { items } = Astro.props; // erwartet mind. 4
const big = items[0];
const small = items.slice(1,4);
---
<div class="grid lg:grid-cols-2 gap-6">
  <div class="lg:h-full">
    <PropertyCard client:load p={big} />
  </div>
  <div class="grid sm:grid-cols-2 gap-6">
    {small.map((p:any) => <PropertyCard client:load p={p} />)}
  </div>
</div>
