---
import PropertyCard from "../PropertyCard";
const { items } = Astro.props;
---
<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
  {items.map((p:any) => <PropertyCard client:load p={p} />)}
</div>
