---
import Base from "../../layouts/BaseLayout.astro";
import common from "../../i18n/de/common.json";
---
<Base lang="de" title="Weib-Coding – Immobilien in Pattaya" description="Immobilien, Vermietung, Verwaltung in Pattaya">
  <section class="prose">
    <h1>{common.heroTitle}</h1>
    <p>{common.heroSubtitle}</p>
  </section>
  <section class="mt-10 grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <a class="block p-5 border rounded-xl hover:shadow" href="/de/properties/">Immobilien finden</a>
    <a class="block p-5 border rounded-xl hover:shadow" href="/de/services/">Unser Service</a>
    <a class="block p-5 border rounded-xl hover:shadow" href="/de/districts/">Stadtteile erkunden</a>
  </section>
</Base>
